#sandBox {
  border-style: solid;
  border-width: 3px;
  height: 100vh;
  width: 100%;
}

.sideBar {
  position: absolute;
  z-index: 1;
  background-color: grey;
  height: 500px;
  width: 200px;
  top: 0;
  right: 0;
}

.sideBarTitle {
  text-align: center;
  font-size: 20px;
}

.elementSideBar {
  background-color: white;
  border-style: solid;
  border-width: 3px;
  text-align: center;
  margin: 3px;
}

.elementSideBar:hover {
  background-color: green;
}